In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 15, 10
rcParams["font.weight"] = "bold"
rcParams["axes.labelweight"] = "bold"
rcParams["font.size"] = 12

In [9]:
df_placas = pd.read_csv('placas_solares.csv')

df_placas

,Unnamed: 0,Unnamed: 0_level_0,2016,Unnamed: 3,2017,Unnamed: 5,2018,Unnamed: 7,2019,Unnamed: 9,2020,Unnamed: 11,2021,Unnamed: 13,2019.1,2021.1,Share of totalconsumption
0,NaN,Country or territory,New,Total,New,Total,New,Total,New,Total,New,Total,New,Total,W per capita 2019,W per capita 2021,Share of totalconsumption1
1,0.0,China,34540,78070,53000,131000,45000,175018,30100,204700,49655,254355,52618,306973,147,217,6.2% (2020)[23]
2,1.0,European Union,NaN,101433,5717,107150,8300,115234,16000,134129,18788,152917,25783,178700,295,400,6.0% (2020)[23]
3,2.0,United States,14730,40300,10600,51000,10600,53184,13300,60682,14890,75572,19637,95209,184,289,3.4% (2020)[23]
4,3.0,Japan,8600,42750,7000,49000,6500,55500,7000,63000,4000,67000,7191,74191,498,590,8.3% (2020)[23]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,87.0,Uzbekistan,NaN,2,NaN,3,NaN,4,NaN,4,NaN,4,NaN,104,NaN,3,NaN
89,88.0,Guatemala,NaN,93,NaN,99,NaN,101,NaN,101,NaN,101,NaN,101,NaN,6,NaN
90,89.0,Mali,NaN,18,NaN,19,NaN,19,NaN,19,NaN,70,NaN,100,NaN,5,NaN
91,90.0,Nepal,2,3,25,28,10,38,NaN,45,NaN,70,NaN,93,17,3,0.1% (2020)[23]
92,91.0,World total,76800,306500,95000,401500,NaN,510000,NaN,580760,133210,713970,NaN,849473,83,108,3.7% (2020)[23]

In [10]:
df_placas.isna().sum()

Unnamed: 0                    1
Unnamed: 0_level_0            0
2016                         54
Unnamed: 3                    4
2017                         51
Unnamed: 5                    5
2018                         60
Unnamed: 7                    0
2019                         65
Unnamed: 9                    0
2020                         63
Unnamed: 11                   0
2021                         66
Unnamed: 13                   0
2019.1                       31
2021.1                        2
Share of totalconsumption    47
dtype: int64

In [11]:
df_placas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 92 non-null     float64
 1   Unnamed: 0_level_0         93 non-null     object
 2   2016                       39 non-null     object
 3   Unnamed: 3                 89 non-null     object
 4   2017                       42 non-null     object
 5   Unnamed: 5                 88 non-null     object
 6   2018                       33 non-null     object
 7   Unnamed: 7                 93 non-null     object
 8   2019                       28 non-null     object
 9   Unnamed: 9                 93 non-null     object
 10  2020                       30 non-null     object
 11  Unnamed: 11                93 non-null     object
 12  2021                       27 non-null     object
 13  Unnamed: 13                93 non-null     object
 14  2019.1                     62 non-null     object
 15  2021.1                     91 non-null     object
 16  Share of totalconsumption  46 non-null     object
dtypes: float64(1), object(16)
memory usage: 12.5+ KB

In [12]:
df_placas["2021"].isna()

0     False
1     False
2     False
3     False
4     False
      ...
88     True
89     True
90     True
91     True
92     True
Name: 2021, Length: 93, dtype: bool