In [51]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [52]:
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 15, 10
rcParams["font.weight"] = "bold"
rcParams["axes.labelweight"] = "bold"
rcParams["font.size"] = 12

In [58]:
df_placas = pd.read_csv('placas_solares.csv')

df_placas

            date  Cumulative_solar_power  kWh electricity/day  Gas/day
0     26/10/2011                     0.1                 15.1      9.0
1     27/10/2011                    10.2                  7.4      9.2
2     28/10/2011                    20.2                  5.8      8.0
3     29/10/2011                    29.6                  4.9      6.6
4     30/10/2011                    34.2                 11.7      5.3
...          ...                     ...                  ...      ...
3299   6/11/2020                 36445.0                 16.0     11.0
3300   7/11/2020                 36453.0                 13.0     13.0
3301   8/11/2020                 36461.0                 12.0     11.0
3302   9/11/2020                 36466.0                 14.0     10.0
3303  10/11/2020                 36469.0                 14.0      9.0

[3304 rows x 4 columns]

In [59]:
df_placas.isna().sum()

date                      0
Cumulative_solar_power    0
kWh electricity/day       0
Gas/day                   0
dtype: int64

In [60]:
df_placas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3304 entries, 0 to 3303
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    3304 non-null   object
 1   Cumulative_solar_power  3304 non-null   float64
 2   kWh electricity/day     3304 non-null   float64
 3   Gas/day                 3304 non-null   float64
dtypes: float64(3), object(1)
memory usage: 103.4+ KB

In [62]:
df_placas["date"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
3299    False
3300    False
3301    False
3302    False
3303    False
Name: date, Length: 3304, dtype: bool

In [63]:
df_placas["date"].isna().sum()

0

In [64]:
df_placas["date"][df_placas["date"].isna()]

Series([], Name: date, dtype: object)

In [66]:
df_placas[4:3300][["date", "Gas/day", "Cumulative_solar_power"]]

            date  Gas/day  Cumulative_solar_power
4     30/10/2011      5.3                    34.2
5     31/10/2011      5.7                    38.0
6      1/11/2011      5.3                    46.6
7      2/11/2011      5.4                    51.6
8      3/11/2011      7.6                    58.6
...          ...      ...                     ...
3295   2/11/2020      6.0                 36422.0
3296   3/11/2020      5.0                 36424.0
3297   4/11/2020      9.0                 36430.0
3298   5/11/2020     11.0                 36437.0
3299   6/11/2020     11.0                 36445.0

[3296 rows x 3 columns]

In [68]:
df_placas.drop(df_placas.dropna().index)

Empty DataFrame
Columns: [date, Cumulative_solar_power, kWh electricity/day, Gas/day]
Index: []

In [69]:
# No hay nada que limpiar
df_placas.shape[0] - 0

3304

In [70]:
df_solar_filt = df_placas.dropna().reset_index(drop=True)
df_solar_filt

            date  Cumulative_solar_power  kWh electricity/day  Gas/day
0     26/10/2011                     0.1                 15.1      9.0
1     27/10/2011                    10.2                  7.4      9.2
2     28/10/2011                    20.2                  5.8      8.0
3     29/10/2011                    29.6                  4.9      6.6
4     30/10/2011                    34.2                 11.7      5.3
...          ...                     ...                  ...      ...
3299   6/11/2020                 36445.0                 16.0     11.0
3300   7/11/2020                 36453.0                 13.0     13.0
3301   8/11/2020                 36461.0                 12.0     11.0
3302   9/11/2020                 36466.0                 14.0     10.0
3303  10/11/2020                 36469.0                 14.0      9.0

[3304 rows x 4 columns]